In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as mlp
from collections import Counter
geo_file = "./data/TL_SCCO_CTPRVN.shp"
geo = gpd.read_file(geo_file)

In [2]:
live = pd.read_csv('./output/liveplace.csv')
live

     Unnamed: 0 liveplace
0             0        경기
1             1        경기
2             2        경기
3             3        서울
4             4        서울
..          ...       ...
609         609        부산
610         610        전북
611         611        경기
612         612        경기
613         613        서울

[614 rows x 2 columns]

In [3]:
c = Counter(live['liveplace'])
c

Counter({'경기': 141,
         '서울': 176,
         '전북': 11,
         '경북': 9,
         '대구': 55,
         '광주': 24,
         '대전': 20,
         '강원': 11,
         '부산': 58,
         '전남': 7,
         '충북': 6,
         '울산': 13,
         '인천': 48,
         '경남': 10,
         '제주': 8,
         '충남': 9,
         '세종': 8})

In [4]:
geo

,CTPRVN_CD,CTP_ENG_NM,CTP_KOR_NM,geometry
0,42,Gangwon-do,°­¿øµµ,"MULTIPOLYGON (((1163759.191 1909653.101, 11637..."
1,41,Gyeonggi-do,°æ±âµµ,"MULTIPOLYGON (((931607.470 1894480.382, 931653..."
2,48,Gyeongsangnam-do,°æ»ó³²µµ,"MULTIPOLYGON (((1053643.218 1612344.022, 10536..."
3,47,Gyeongsangbuk-do,°æ»óºÏµµ,"MULTIPOLYGON (((1171290.353 1782200.848, 11712..."
4,29,Gwangju,±¤ÁÖ±¤¿ª½Ã,"POLYGON ((932712.687 1696168.692, 932781.680 1..."
5,27,Daegu,´ë±¸±¤¿ª½Ã,"POLYGON ((1107777.593 1780522.269, 1107845.409..."
6,30,Daejeon,´ëÀü±¤¿ª½Ã,"POLYGON ((990946.725 1832389.260, 991057.692 1..."
7,26,Busan,ºÎ»ê±¤¿ª½Ã,"MULTIPOLYGON (((1137080.579 1677826.696, 11370..."
8,11,Seoul,¼­¿ïÆ¯º°½Ã,"POLYGON ((966987.226 1941110.946, 966987.119 1..."
9,36,Sejong-si,¼¼Á¾Æ¯º°ÀÚÄ¡½Ã,"POLYGON ((971235.936 1844386.985, 971234.055 1..."
10,31,Ulsan,¿ï»ê±¤¿ª½Ã,"MULTIPOLYGON (((1167949.952 1710285.043, 11679..."
11,28,Incheon,ÀÎÃµ±¤¿ª½Ã,"MULTIPOLYGON (((897904.035 1961082.190, 897886..."
12,46,Jellanam-do,Àü¶ó³²µµ,"MULTIPOLYGON (((946598.396 1555245.584, 946595..."
13,45,Jeollabuk-do,Àü¶óºÏµµ,"MULTIPOLYGON (((902676.539 1717491.597, 902679..."
14,50,Jeju-do,Á¦ÁÖÆ¯º°ÀÚÄ¡µµ,"MULTIPOLYGON (((885004.560 1458756.461, 884996..."
15,44,Chungcheongnam-do,ÃæÃ»³²µµ,"MULTIPOLYGON (((862386.074 1805282.887, 862296..."
16,43,Chungcheongbuk-do,ÃæÃ»ºÏµµ,"POLYGON ((1042689.435 1917662.690, 1042731.339..."

In [5]:
c = sorted(c.items())

In [6]:
for i in range(0,len(c)) :
    geo.iloc[i,2] = c[i][0]

In [7]:
new_df = pd.DataFrame(list(c),
                   columns=['CTP_KOR_NM', 'COUNT'])

In [8]:
new_df

   CTP_KOR_NM  COUNT
0          강원     11
1          경기    141
2          경남     10
3          경북      9
4          광주     24
5          대구     55
6          대전     20
7          부산     58
8          서울    176
9          세종      8
10         울산     13
11         인천     48
12         전남      7
13         전북     11
14         제주      8
15         충남      9
16         충북      6

In [9]:
geo

,CTPRVN_CD,CTP_ENG_NM,CTP_KOR_NM,geometry
0,42,Gangwon-do,강원,"MULTIPOLYGON (((1163759.191 1909653.101, 11637..."
1,41,Gyeonggi-do,경기,"MULTIPOLYGON (((931607.470 1894480.382, 931653..."
2,48,Gyeongsangnam-do,경남,"MULTIPOLYGON (((1053643.218 1612344.022, 10536..."
3,47,Gyeongsangbuk-do,경북,"MULTIPOLYGON (((1171290.353 1782200.848, 11712..."
4,29,Gwangju,광주,"POLYGON ((932712.687 1696168.692, 932781.680 1..."
5,27,Daegu,대구,"POLYGON ((1107777.593 1780522.269, 1107845.409..."
6,30,Daejeon,대전,"POLYGON ((990946.725 1832389.260, 991057.692 1..."
7,26,Busan,부산,"MULTIPOLYGON (((1137080.579 1677826.696, 11370..."
8,11,Seoul,서울,"POLYGON ((966987.226 1941110.946, 966987.119 1..."
9,36,Sejong-si,세종,"POLYGON ((971235.936 1844386.985, 971234.055 1..."
10,31,Ulsan,울산,"MULTIPOLYGON (((1167949.952 1710285.043, 11679..."
11,28,Incheon,인천,"MULTIPOLYGON (((897904.035 1961082.190, 897886..."
12,46,Jellanam-do,전남,"MULTIPOLYGON (((946598.396 1555245.584, 946595..."
13,45,Jeollabuk-do,전북,"MULTIPOLYGON (((902676.539 1717491.597, 902679..."
14,50,Jeju-do,제주,"MULTIPOLYGON (((885004.560 1458756.461, 884996..."
15,44,Chungcheongnam-do,충남,"MULTIPOLYGON (((862386.074 1805282.887, 862296..."
16,43,Chungcheongbuk-do,충북,"POLYGON ((1042689.435 1917662.690, 1042731.339..."

In [10]:
aaasss =  pd.merge(geo,new_df)
aaasss

,CTPRVN_CD,CTP_ENG_NM,CTP_KOR_NM,geometry,COUNT
0,42,Gangwon-do,강원,"MULTIPOLYGON (((1163759.191 1909653.101, 11637...",11
1,41,Gyeonggi-do,경기,"MULTIPOLYGON (((931607.470 1894480.382, 931653...",141
2,48,Gyeongsangnam-do,경남,"MULTIPOLYGON (((1053643.218 1612344.022, 10536...",10
3,47,Gyeongsangbuk-do,경북,"MULTIPOLYGON (((1171290.353 1782200.848, 11712...",9
4,29,Gwangju,광주,"POLYGON ((932712.687 1696168.692, 932781.680 1...",24
5,27,Daegu,대구,"POLYGON ((1107777.593 1780522.269, 1107845.409...",55
6,30,Daejeon,대전,"POLYGON ((990946.725 1832389.260, 991057.692 1...",20
7,26,Busan,부산,"MULTIPOLYGON (((1137080.579 1677826.696, 11370...",58
8,11,Seoul,서울,"POLYGON ((966987.226 1941110.946, 966987.119 1...",176
9,36,Sejong-si,세종,"POLYGON ((971235.936 1844386.985, 971234.055 1...",8
10,31,Ulsan,울산,"MULTIPOLYGON (((1167949.952 1710285.043, 11679...",13
11,28,Incheon,인천,"MULTIPOLYGON (((897904.035 1961082.190, 897886...",48
12,46,Jellanam-do,전남,"MULTIPOLYGON (((946598.396 1555245.584, 946595...",7
13,45,Jeollabuk-do,전북,"MULTIPOLYGON (((902676.539 1717491.597, 902679...",11
14,50,Jeju-do,제주,"MULTIPOLYGON (((885004.560 1458756.461, 884996...",8
15,44,Chungcheongnam-do,충남,"MULTIPOLYGON (((862386.074 1805282.887, 862296...",9
16,43,Chungcheongbuk-do,충북,"POLYGON ((1042689.435 1917662.690, 1042731.339...",6

In [14]:
aaasss.to_file("korea_geo.shp")